#hero {
  position: relative;
  width: 100%;
  height: 90vh;
  margin-bottom: -115px;
  margin-top: 80px;
  overflow: hidden;
}

.slider-background {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  top: 0;
  left: 0;
}

.slider-background .slick-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container {
  position: relative;
  z-index: 1;
  color: #050505;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #0c0c0c;
  padding-bottom: 8px;
}

#hero h2 {
  color: #02c4eb;
  margin: 10px 0 0 0;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #09afd1;
}

#hero .btn-get-started:hover {
  background: #09afd1;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 100vh;
  }

  #hero .container {
    padding-bottom: 63px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  #hero {
    height: 60vh;
  }

  #hero .btn-get-started {
    font-size: 12px;
    padding: 8px 10px;
  }
}
