.IS-con.col-lg-6.ps-4.mt-4 {
    padding-top: 5rem;
    padding-right: 25px;
}
img.IS-img {
    width: 73%;
    max-height: 78%;
    margin-top: 40px;
}

.section-IS {
    background-color: rgb(243, 241, 241);
    padding: 40px 0;
    margin: 2rem 0;
}